{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>

    {{ form_start(form) }}
    {{ form_row(form.current_password) }}
    {{ form_row(form.new_password.first) }}
    {{ form_row(form.new_password.second) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}