{% extends 'base.html.twig' %}

{% block title %}{{ 'register.global'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'register.global'|trans}}</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {
        'attr': {
            'class': 'form-control'
        }
    }) }}
    {{ form_row(registrationForm.nickname, {
        'attr': {
            'class': 'form-control'
        }
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password',
        'attr': {
            'class': 'form-control'
        }
    }) }}

        <button type="submit" class="btn btn-primary btn-sm active">{{ 'register.global'|trans}}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
