{% extends 'base.html.twig' %}

{% block title %}{{ 'category_title.global'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'category_title.global'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title.global'|trans}}</th>
                <td>{{ category.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_category_index') }}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">{{ 'back_to_list.global'|trans}}</a>
    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-warning" role="button" aria-pressed="true">{{ 'edit.global'|trans}}</a>

    <hr class="my-4">

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
