{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_recipe.global'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'edit_recipe.global'|trans}}</h1>

    {{ include('recipe/_form.html.twig', { 'update.global'|trans}) }}

    <a href="{{ path('app_recipe_index') }}" class="btn btn-secondary btn-sm active">{{ 'back_to_list.global'|trans}}</a>

    {{ include('recipe/_delete_form.html.twig') }}
{% endblock %}
