{% extends 'base.html.twig' %}

{% block title %}{{ 'recipe_title.global'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'recipe_title.global'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'title.global'|trans}}</th>
                <th>{{ 'category.global'|trans}}</th>
                <th>{{ 'created_ad.global'|trans}}</th>
                <th>{{ 'actions.global'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for recipe in paginator.items %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.category }}</td>
                <td>{{ recipe.createdAt ? recipe.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}" class="btn btn-warning">{{ 'show.global'|trans}}</a>
                    <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}" class="btn btn-warning">{{ 'edit.global'|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'no_records.global'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recipe_new') }}" class="btn btn-warning">{{ 'create_new.global'|trans}}</a>

    {% include 'pagination/paginator.html.twig' %}
{% endblock %}
